<md-dialog aria-label="New Task Form">
    <form>
        <md-dialog-content class="sticky-container">
            <h3>New task :</h3>
            <div>
                <input ng-model="vm.task.title" placeholder="Title" required />
            </div>
            <div>
                <textarea ng-model="vm.task.body" placeholder="description" required></textarea>
            </div>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <md-button ng-click="vm.success(vm.task)" type="submit" class="md-primary">
                Save
            </md-button>
            <md-button ng-click="vm.cancel()" class="md-primary">
                Cancel
            </md-button>
        </div>
    </form>
</md-dialog>
