/* Animation */

.animate {
    &.ng-enter,
    &.ng-leave,
    &.ng-move {
        .transition(350ms cubic-bezier(.55,0,.1,1) all);
        min-height: 0;
    }

    &.ng-enter,
    &.ng-move,
    &.ng-leave.ng-leave-active {
        .scaleY(0);
        max-height: 0;
        opacity: 0;
    }

    &.ng-leave,
    &.ng-enter.ng-enter-active,
    &.ng-move.ng-move-active {
        .scaleY(1);
        max-height: 50px;
        opacity: 1;
    }
}
