/**
 * Appear animation
 */
/*.appear.animate-enter,
.appear.animate-leave
{
  -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: clip;
  white-space:nowrap;
}

.appear.animate-leave.animate-leave-active,
.appear.animate-enter {
  opacity: 0;
  width: 0px;
  height: 0px;
}

.appear.animate-enter.animate-enter-active,
.appear.animate-leave {
  opacity: 1;
  width: 150px;
  height: 30px;
}*/

/*.sample-show-hide {
  flex-grow: 1;
  transition: flex-grow 1000ms linear;
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}
*/
/*.sample-show-hide {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.sample-show-hide.ng-hide {
  opacity:0;
}
*/
